#firstline{
    font-family: 'Prosto One', cursive;
    font-size: 65px;
    display: block;
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
        
}
#secondline
{
    font-weight: bold;
}
